body{
    overflow: hidden;
}

.logo{
    width: 150px;
    margin-top: -10px;
    margin-right: 0px;
}

.singlePanel{
    display: inline-block;
    width: 24.5%;
    vertical-align: top;
    margin-left: 5px;
}

.panelContainer{
    padding: 10px;
    height: 90vh;
    overflow: auto;
}

.runList{
    list-style-type: none;
    padding: 0px;
}

.runList input[type=checkbox]{
    float: right;
}

.listItemChecked{
    text-decoration: line-through;
    color: grey;
}

.listItem{
    padding: 5px;
}

.listItem:hover{
    background: #444;
}

.deleteListItem{
    float: right;
    color: lightsalmon;
    padding-bottom: 2px;
}

.deleteListItem:hover{
    cursor: pointer;
}

#addListButton{
    position: absolute;
    right: 10px;
    top: 80px;
}